button {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   }
   
button:hover {
    background-color: greenyellow;
   }

h1{
  color:blueviolet
}
h2{
    color:blueviolet
}
li{
    color:blueviolet
}
